# Backend dependencies
backend/node_modules/

# Environment files
backend/.env
frontend/.env
.env

# Build outputs
backend/dist/
backend/build/

# Logs
logs/
*.log

# OS files
.DS_Store

# IDE files
.vscode/
.idea/

#test files
*.spec.js
*.test.js